@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');

.aboutBackground {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/bgPage1.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  max-width: 1920px;
}

.logo2 {
  max-width: 643px;
  width: 100%;
  height: auto;
  margin-top: 10%;
  min-width: 450px;
}

.firstImage, .secondImage {
  max-width: 460px;
  width: 100%;
  height: auto;
  margin-top: 15%;
  min-width: 230px;
}

.parent {
  max-width: 1920px;
  display: grid;
  grid-gap: 20px;
  column-gap: 10%;
  grid-template-areas: 
  'div1 div2'
  'div3 div4';
  justify-content: center;
  align-items: center;
}

.div1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.div3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div3 h2 {
  max-width: 800px;
  color: #f2f2f2;
  font-family: 'Amiko', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.test {
  padding: 10% 5%;
}