@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

.watchBackground {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/images/bgPage4.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  max-width: 1920px;
  background-position: center center;
}

.testWatch {
  padding: 5% 5% 10% 0;
}

.playNow .button {
  max-height: 86px;
  max-width: 86px;;
}

.playNow h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(247, 247, 247);
  margin-left: 10px;
  font-size: 40px;
}

.playNow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoNetflix1 {
  width: 320px;
  height: 88px;
}

.image {
  display: flex;
  justify-content: center;
}

.finalImage {
  width: 1920px;
}